.sidenav {
  --padding-left: 1rem;
  --font-weight-bold: 500;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  width: var(--width-sidenav);
  border-right: 1px solid var(--color-primary);
}

.sidenav .heading {
  height: var(--height-header);
  color: var(--color-primary);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--color-primary);
}

.heading .logo {
  display: flex;
  align-items: center;
}

.heading .logo img {
  width: 4rem;
  height: auto;
}

.heading .version {
  font-size: 0.9rem;
}

.sidenav button {
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.sidenav ul {
  list-style: none;
}

.sidenav a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.8rem 0;
}

.sidenav .heading a {
  display: flex;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

.sidenav a.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.sidenav .btn-main {
  font-weight: var(--font-weight-bold);
}

.link-hoverable:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.sidenav .ul-outer a {
  padding-left: var(--padding-left);
}

.sidenav .ul-outer div {
  font-weight: var(--font-weight-bold);
  padding-left: var(--padding-left);
}

.sidenav .ul-inner {
  font-size: 0.95em;
}

.sidenav .ul-inner a {
  padding-left: calc(var(--padding-left) + 1.2rem);
}

.sidenav.mobile {
  background-color: #fff;
  box-shadow: 10px 0px 10px -3px rgba(0, 0, 0, 0.35);
}

.sidenav.mobile.false {
  display: none;
}

.sidenav.mobile.true {
  display: block;
  position: fixed;
  z-index: var(--z-sidenav);
}

.sidenav.mobile.true .overlay {
  position: fixed;
  left: var(--width-sidenav);
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}
