.text-highlight,
.text-highlight a {
  color: rgb(220, 0, 78);
  font-weight: 500;
}

.container-content h1,
.container-content h2,
.container-content h3 {
  font-weight: 400;
  margin: 1rem 0;
}

.container-content .subtext {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  width: var(--width-contents);
}

.container-content .container-output {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: var(--width-contents);
}

.container-content .container-output.container-card-hero {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.container-output.container-card-hero .shoto-card-hero {
  width: 450px;
}

.container-card-hero .shoto-card-hero .overlay {
  padding: 1rem 0 1rem 0.6rem;
}

.container-content .container-code {
  margin: 1rem 0 1.5rem 0;
  width: var(--width-contents);
  position: relative;
}

.container-btn-copy {
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-end;

  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.container-btn-copy:hover {
  color: rgba(255, 255, 255, 0.85);
}

.container-snackbar-output .shoto-snackbar-container {
  z-index: 1;
}

.container-code pre span {
  font-size: 0.9rem;
}

.container-alert {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 1rem;
  width: 100%;
}

.container-button-sizes {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .container-content .subtext,
  .container-content .container-output,
  .container-content .container-output,
  .container-content .container-code {
    width: auto;
  }
}
