.App {
  --width-sidenav: 240px;
  --height-header: 64px;
  height: 100vh;
}

.container-header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--height-header);
  width: 100%;
  margin-left: var(--width-sidenav);

  border: 1px solid yellow;
}

.container-sidenav {
}

.container-main {
  margin-top: var(--height-header);
  margin-left: var(--width-sidenav);
}

@media screen and (max-width: 768px) {
  .container-header {
    margin-left: 0;
  }
  .container-main {
    margin-left: 0;
  }
}
